footer{
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 2px;
    position: absolute;
    bottom: 0px;
}