body{
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.container{
    max-width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    position: relative;
    margin: 0 auto;
}